html, body {
	background-color: #fff;
	color: #636b6f;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}


.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 50px;
	font-weight: 500;
}

.links > a {
	padding: 0 25px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}

td, th{
	font-family: Arial, sans-serif;
	padding: 1px 4px;
	text-align: left;
}
table .btn-sm {
	font-size: 10px;
	margin: 0 1px;
}
table .btn-info {
	padding: 2px 8px;
}

table h4 {
	background-color: #DDD;
	padding: 6px 8px;
}

form input[type=text], form textarea{
	width: 100%;
}

.alert {
	margin-top:20px;
}

.title a{
	color: #636b6f;
	text-decoration:none;
}